{{ define "main" }}
<article class="default-page">
    <div class="container">
        {{ partial "breadcrumb.html" . }}

        <div class="page-content">
            <header class="page-header">
                <h1 class="page-title">{{ .Title }}</h1>
                {{ if .Description }}
                <p class="page-description">{{ .Description }}</p>
                {{ end }}
            </header>

            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</article>
{{ end }}
